# Dépendances Node (tous les node_modules du projet)
node_modules/
**/node_modules/

# pnpm / Yarn / npm
.pnp
.pnp.js
pnpm-debug.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# Next.js
.next/
out/

# Build
dist/
build/

# Tests
coverage/

# Env
.env
.env.local
.env*.local

# Logs
*.log

# OS / IDE
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts